<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8"> 
  <title>chatsjs</title> 
  <!-- Latest compiled and minified CSS -->
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  
  <!--  jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  -->
  
  <!-- Latest compiled JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  -->
	
</head>
<body>
	<div class="container">
		<!-- <div class="text-center"> -->
				<!-- Example single danger button -->
				<!-- <ul class="nav nav-pills nav-justified"> -->

				  <!-- <li class="nav-item"> -->
					  	<div class="dropdown">
							  <div class="btn-group">
								  <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    Sorting Algorithms
								  </button>
								  <div class="dropdown-menu">
								    <a class="dropdown-item" href="#">Bubble Sort Array</a>
								    <br>
								    <a class="dropdown-item" href="#">Merge Sort Array</a>
								    <a class="dropdown-item" href="#">Quick Sort Array</a>
								    <div class="dropdown-divider"></div>
								    <a class="dropdown-item" href="#">Separated link</a>
								  </div>
							</div>
						</div>
				  <!-- </li> -->


				  <!-- <li class="nav-item"> -->
							<div class="btn-group">
							  <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Searching Algorithms
							  </button>
							  <div class="dropdown-menu">
							    <a class="dropdown-item" href="#">Linear Search Array</a>
							    <a class="dropdown-item" href="#">Binary Search Array</a>
							    <a class="dropdown-item" href="#">Binary Search Tree</a>
							    <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href="#">tes</a>
							  </div>
							</div>
						</div>
				  <!-- </li> end search dropdown -->
				<!-- </ul> -->

				<div class="container">
					<form>
						<div class="form-group row">
							<div class="col-xs-2">
		        				<label for="ex2">Input the data</label>
		        				<input class="form-control" id="ex2" type="text">
		      				</div>
		      			</div>
					</form>
				</div>



				{% block content %}{% endblock %}
	</div>
	


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>