{% load static %}
<!DOCTYPE html> 
<html lang="en" dir="ltr"> 

<head> 
<meta charset="utf-8"> 
<title>Algo Visualizer</title> 
<!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Optional JavaScript -->
 	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!-- <script>
    $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
</script>
    -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">



</head> 

<body class="container-fluid">
<!-- Modal -->
<!-- Button trigger modal -->







<!-- ------------------------------------------------------------------ -->
	<div class="buttons">
		<div class="btn-group">

			  <div class="dropdown btn-group">
				    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Sorting Algorithms
				    <!-- <i class="fa fa-caret-down"></i></button> -->
				    
					    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_to_bubble_sort();">Bubble Sort</a></li>
					      

					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Merge Sort</a></li>

					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Quick Sort</a></li>

					    </ul>
					
			  </div> 


				  <button type="button" id= "CreateButton" onclick="CreateArray();">
	  				Create Array
				  </button>
				  <script type="text/javascript">
				  	
				  </script>

				  <!-- ---------------------------------- -->
				  <button type="button" id = "HelpButton" class="btn btn-warning" data-toggle="modal" data-target="#HelpModal">
  					Help
			  	  </button>

				  <button type="button" id="SortButton" onclick="sort_array();">
  					Sort Array
			  	  </button>

			  	  


			  <div class="dropdown btn-group">
				    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Searching Algorithms
				    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Binary Search</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Linear Search</a></li>

				    </ul>
			  </div> 
						
				  
		</div>
		<!-- Modal -->
			<div class="modal fade" id="HelpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Welcome to my Algorithm Visualizer    <img src="https://www.andrewthedev.com/wp-content/uploads/2020/08/websitePictureOfMe9.png" width="80" height="80"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        As you can see you have buttons to interact with the application.
			        <ol>
			        	<li>First choose which algorithm you would like to visualize.</li>
			        	<li>Create an array</li>
			        	<li>Sort the array</li>
			        	<li>Use arrows to step through the algorithm</li>
			        	<li>Or press the play button to let it run by it's self</li>
			        </ol> 
			         
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
		<br>
		<br>
		<span class="previous_next">
			<button type="button" class="btn">
  					<a href="#" class="previous round">&#11207;</a>
			  	  </button>
			


			<button type="button" class="btn">
  					<a href="#" class="pause">&#8214;</a>
			  	  </button>
			<!-- <div class="input-group flex-nowrap ">
			  
			  <input type="text" class="form-control" placeholder="Input custom array integers" aria-label="Username" aria-describedby="addon-wrapping">
			</div> -->

			<button type="button" class="btn">
  								<a href="#" class="next round">&#11208;</a>

			  	  </button>

		</span>
	</div>

<!-- ----------------------------------------------------------- -->


<center class="row"> 
<div class="container-fluid">
	<div class="col-xl-12"> 
	<canvas id="myChartBar" width="80" height="35"></canvas> 
	</div> 
</div> 

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 

<script>
	var Chart_data = new Object();
	// var algo_info = new Object();
	var algo_info;
	console.log(algo_info);
	// console.log(data_from_django);
	var current_algorithm_choosen;
	Chart.defaults.global.legend.display = false;
	var myChart;
	var endpoint = '/api'; 
	$.ajax({ 
	method: "GET", 
	url: endpoint, 
	success: function(data) { 
		myChart = drawBarGraph(data, 'myChartBar'); 
		console.log("drawing"); 
	}, 
	error: function(error_data) { 
		console.log(error_data); 
	} 
	}) 



	function drawBarGraph(data, id) { 
		var labels = data.labels; 
		var chartLabel = data.chartLabel; 
		var chartdata = data.chartdata; 
		var ctx = document.getElementById(id).getContext('2d'); 
		var myChart = new Chart(ctx, { 
			type: 'bar', 
			data: { 
			labels: labels, 
			datasets: [{ 
				label: chartLabel, 
				data: chartdata, 
				backgroundColor: 'rgba(5, 204, 2.8,1)', 
				borderColor: 'rgba(5, 204, 2.8,1)', 
				borderWidth: 1 
			}] 
			}, 
			options: {
			 title: {
	            display: true,
	            text: 'Bubble Sort',
	            fontSize: 20,
	            fontColor: '#FFF'
	        },
	        animation:{
	        	duration: 0
	        },
			scales: { 
				yAxes: [{ 
				ticks: { 
					 beginAtZero: true,
					 fontSize: 25,
					 fontColor: '#FFF'


				},
				scaleLabel: {
	        		display: true,
	        		labelString: 'Element Size',
	        		fontSize: 25,
	        		fontColor: '#FFF'

	      		},
	      		gridLines: {color: '#FFF', zeroLineColor: "#FFF"}

				}], 
				// end
				xAxes: [{ 
				ticks: { 
					// beginAtZero: true
					 fontSize: 25,
					 fontColor: '#FFF'


				},

				scaleLabel: {
	        		display: true,
	        		labelString: 'Element Position',
	        		fontSize: 25,
	        		fontColor: '#FFF'

	      		} 
				}] 

			} 
			} 
		});
		return myChart; 
	}



function CreateArray(){
		// alert("create array button clicked");
		myChart.destroy()

		
		var numOfElements = Math.floor(Math.random()*40) +1;
		var chartLabel = "Merge Sort Algorithm";
		var xLabels = []
		var chartData = []
		var i;
		for (i =0; i < numOfElements; i++){
			xLabels.push(i);
			chartData.push(Math.floor(Math.random()*100) +5);


		}
		window.Chart_data["labels"] = xLabels;
		window.Chart_data["chartLabel"] = chartLabel;
		window.Chart_data["chartdata"] = chartData;

		myChart = drawBarGraph(window.Chart_data,'myChartBar');
		

		
		console.log("reached end");
	}

function printMessage(){
		window.test = "changed the variable value"
		console.log(window.test)
	}
function change_to_bubble_sort(){
	current_algorithm_choosen = "BubbleSort"
	console.log(current_algorithm_choosen)

}

function sort_array(){
	console.log(window.Chart_data["chartdata"]);
	$.ajax({
		type: "POST",
		url: '{{ 'bubble-sort/' }}',
		data: { csrfmiddlewaretoken: '{{ csrf_token }}',
			'nums_array[]': JSON.stringify(Chart_data['chartdata']) },

		success: function(response){
			console.log(response)
			algo_info = "{{algo_info}}";
			console.log(algo_info["comparisons"]);
		}
	});
}

	


</script>





	<div class="footer">
		<h1>Andrew Rodriguez</h1>
		<p>I created this visualizer as a learning tool for anyone researching Sort & Search Algorithms. During development not only did I improve my algorithmic skills but I learned how to build and deploy a Django web application for the entire web.</p>

		<br>
		<h2>Contact</h2>
		<h5>Email: <a href="mailto:andrewrod003@gmail.com">andrewrod003@gmail.com</a></h5>
		<h5>Phone: (209) 620-0798</h5>
		<h5>Resume: <a href="https://drive.google.com/file/d/1yzlrCinGqC4oLVIXyR6I_SOoLeBr506P/view?usp=sharing">PDF Link</a></h5>
		<div class="icons">
			<a href="https://www.linkedin.com/in/andrew-m-rodriguez" class="fa fa-linkedin"></a>
			<a href="https://github.com/zARODz11z" class="fa fa-github">
			</a>
			<a href="https://www.andrewthedev.com/" class="fa fa-globe">
			</a>
		</div>
	</div>





  </body>
</body> 

</html> 
